// Quantum Script Extension ShellFind
// Copyright (c) 2016-2024 Grigore Stefan <g_stefan@yahoo.com>
// MIT License (MIT) <http://opensource.org/licenses/MIT>
// SPDX-FileCopyrightText: 2016-2024 Grigore Stefan <g_stefan@yahoo.com>
// SPDX-License-Identifier: MIT

#include <XYO/QuantumScript.Extension/ShellFind/Library.rh>
#include <XYO/QuantumScript.Extension/ShellFind/Copyright.rh>
#include <XYO/QuantumScript.Extension/ShellFind/Version.rh>

XYO_APPLICATION_VERSION_INFO(XYO_QUANTUMSCRIPT_EXTENSION_SHELLFIND,"quantum-script--shellfind.dll","Quantum Script Extension ShellFind")
